<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link rel="icon" href="static/images/favicon.png" sizes="35x35" type="image/png">
        <title>Maktab - The Islamic Center HTML5 Template</title>

        <link rel="stylesheet" href="static/css/all.min.css">
        <link rel="stylesheet" href="static/css/flaticon.css">
        <link rel="stylesheet" href="static/css/animate.min.css">
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/jquery.fancybox.min.css">
        <link rel="stylesheet" href="static/css/jquery.bootstrap-touchspin.min.css">
        <link rel="stylesheet" href="static/css/perfect-scrollbar.css">
        <link rel="stylesheet" href="static/css/slick.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/responsive.css">
        <link rel="stylesheet" href="static/css/color.css">
    </head>
    <body>
        <main>
            <div id="preloader">            
                <div class="preloader-inner">
                    <i class="preloader-icon thm-clr flaticon-kaaba"></i>
                </div>
            </div><!-- Page Loader -->
            <header class="stick style1 w-100">
              <div
                class="topbar bg-color1 d-flex flex-wrap justify-content-center w-100"
              >
                <ul class="topbar-info-list mb-0 list-unstyled d-inline-flex">
                  <li>
                    <i class="thm-clr flaticon-sun"></i>Sunrise At:
                    <span class="thm-clr">5:05am</span>
                  </li>
                  <li>
                    <i class="thm-clr flaticon-moon"></i>Sunset At:
                    <span class="thm-clr">7:14pm</span>
                  </li>
                </ul>
                <div class="social-links d-inline-flex">
                  <a href="https://twitter.com/" title="Twtiiter" target="_blank"
                    ><i class="fab fa-twitter"></i
                  ></a>
                  <a href="https://www.facebook.com/" title="Facebook" target="_blank"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <a href="https://www.youtube.com/" title="Youtube" target="_blank"
                    ><i class="fab fa-youtube"></i
                  ></a>
                  <a href="https://www.linkedin.com/" title="Linkedin" target="_blank"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                  <a
                    href="https://www.instagram.com/"
                    title="Instagram"
                    target="_blank"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </div>
              </div>
              <!-- Topbar -->
              <div
                class="logo-menu-wrap d-flex flex-wrap justify-content-between w-100"
              >
                <div
                  class="logo position-relative thm-layer opc7 back-blend-multiply thm-bg"
                  style="background-image: url(static/images/pattern-bg.jpg)"
                >
                  <h1 class="mb-0">
                    <a href="index.html" title="Home"
                      ><img
                        class="img-fluid"
                        src="static/images/logo.png"
                        alt="Logo"
                        srcset="static/images/retina-logo.png"
                    /></a>
                  </h1>
                </div>
                <!-- Logo -->
                <nav
                  class="d-flex flex-wrap align-items-center justify-content-center"
                >
                  <div class="header-left">
                    <ul class="mb-0 list-unstyled d-inline-flex">
                      <li class="menu-item-has-children">
                        <a href="./index.html" title="">Home</a>
                      </li>
                      <li class="menu-item-has-children">
                        <a href="./audio-listening.html" title="">Quran</a>
                      </li>
                      <li class="menu-item-has-children">
                        <a href="./events.html" title="">Ziyarat</a>
                      </li>
                      <li class="menu-item-has-children">
                        <a href="./do3a2.html" title="">Doaa</a>
                      </li>
                      <li class="menu-item-has-children">
                        <a href="./reminder.html" title="">Reminder</a>
                      </li>
                      
                    </ul>
                  </div>
                  <div class="header-right">
                  
                </nav>
              </div>
              <!-- Logo Menu Wrap -->
            </header>
            <!-- Header -->
            <div class="sticky-menu">
              <div class="container">
                <div
                  class="sticky-menu-inner d-flex flex-wrap align-items-center justify-content-between w-100"
                >
                  <div class="logo">
                    <h1 class="mb-0">
                      <a href="index.html" title="Home"
                        ><img
                          class="img-fluid"
                          src="static/images/logo3.png"
                          alt="Logo"
                          srcset="static/images/retina-logo3.png"
                      /></a>
                    </h1>
                  </div>
                  <!-- Logo -->
                  <nav
                    class="d-flex flex-wrap align-items-center justify-content-between"
                  >
                    <div class="header-left">
                      <ul class="mb-0 list-unstyled d-inline-flex">
                        <li class="menu-item-has-children">
                          <a href="./index.html" title="">Home</a>
                        </li>
                        <li class="menu-item-has-children">
                          <a href="./audio-listening.html" title="">Quran</a>
                        </li>
                        <li class="menu-item-has-children">
                          <a href="./events.html" title="">Ziyarat</a>
                        </li>
                        <li class="menu-item-has-children">
                          <a href="./do3a2.html" title="">Doaa</a>
                        </li>
                        <li class="menu-item-has-children">
                          <a href="./reminder.html" title="">Reminder</a>
                        </li>
                        
                      </ul>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
            <!-- Sticky Menu -->
            <div class="rspn-hdr">
              <div class="rspn-mdbr">
                <div class="rspn-scil">
                  <a href="https://twitter.com/" title="Twtiiter" target="_blank"
                    ><i class="fab fa-twitter"></i
                  ></a>
                  <a href="https://www.facebook.com/" title="Facebook" target="_blank"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <a href="https://www.youtube.com/" title="Youtube" target="_blank"
                    ><i class="fab fa-youtube"></i
                  ></a>
                  <a href="https://www.linkedin.com/" title="Linkedin" target="_blank"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                </div>
                <form class="rspn-srch">
                  <input type="text" placeholder="Enter Your Keyword" />
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div>
              <div class="lg-mn">
                <div class="logo">
                  <a href="index.html" title="Home"
                    ><img src="static/images/logo3.png" alt="Logo"
                  /></a>
                </div>
                <div class="rspn-cnt">
                  <span
                    ><i class="thm-clr far fa-envelope"></i
                    ><a href="javascript:void(0);" title=""
                      >info@email.com</a
                    ></span
                  >
                  <span
                    ><i class="thm-clr fas fa-phone-alt"></i>+961 ___ ___</span
                  >
                </div>
                <span class="rspn-mnu-btn"><i class="fa fa-list-ul"></i></span>
              </div>
              <div class="rsnp-mnu">
                <span class="rspn-mnu-cls"><i class="fa fa-times"></i></span>
                <ul class="mb-0 list-unstyled w-100">
                  <li class="menu-item-has-children">
                    <a href="./index.html" title="">Home</a>
                    
                  </li>
                  <li class="menu-item-has-children">
                    <a href="./audio-listening.html" title="">Quran</a>
                    
                  </li>
                  <li class="menu-item-has-children">
                    <a href="./events.html" title="">Ziyarat</a>
                  
                  </li>
                  <li class="menu-item-has-children">
                    <a href="./do3a2.html" title="">Doaa</a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="./reminder.html" title="">Reminder</a>
                  
                  </li>
                  
                </ul>
              </div>
              <!-- Responsive Menu -->
            </div>
            <section>
                <div class="w-100 pt-80 black-layer pb-70 opc65 position-relative">
                    <div class="fixed-bg" style="background-image: url(static/images/page-title-bg.jpg);"></div>
                    <div class="container">
                        <div class="page-title-wrap text-center w-100">
                            <div class="page-title-inner d-inline-block">
                                <h1 class="mb-0">Listen To Quran Audio</h1>
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item"><a href="index.html" title="Home">Maktab - Home</a></li>
                                    <li class="breadcrumb-item active">Audio Listening</li>
                                </ol>
                            </div>
                        </div><!-- Page Title Wrap -->
                    </div>
                </div>
            </section>
            <section>
                <div class="w-100 pt-120 pb-250 position-relative">
                    <img class="sec-botm-rgt-mckp img-fluid position-absolute" src="static/images/sec-botm-mckp.png" alt="Sec Bottom Mockup">
                    <div class="container">
                        <div class="plyr-wrp2 d-inline-block w-100">
                            <div class="plyr-box w-100 pat-bg white-layer opc85 back-blend-multiply bg-white" style="background-image: url(static/images/pattern-bg.jpg);">
                                <div class="plyr v4 w-100">
                                    <ul class="playlist mb-0 list-unstyled">
                                        <li data-cover="static/images/audio-img1.jpg" data-artist="(The Cow) - 286 Verses"><a href="static/audio/surah-fateh.mp3" title="">Al-Baqara</a></li>
                                    </ul>
                                </div>
                            </div><!-- Player Wrap -->
                            <div class="plyr-box w-100 pat-bg white-layer opc85 back-blend-multiply bg-white" style="background-image: url(static/images/pattern-bg.jpg);">
                                <div class="plyr v4 w-100">
                                    <ul class="playlist mb-0 list-unstyled">
                                        <li data-cover="static/images/audio-img2.jpg"><a href="static/audio/surah-fateh.mp3" title="">Al-Fatihah</a></li>
                                    </ul>
                                </div>
                            </div><!-- Player Wrap -->
                            <div class="plyr-box w-100 pat-bg white-layer opc85 back-blend-multiply bg-white" style="background-image: url(static/images/pattern-bg.jpg);">
                                <div class="plyr v4 w-100">
                                    <ul class="playlist mb-0 list-unstyled">
                                        <li data-cover="static/images/audio-img3.jpg"><a href="static/audio/surah-fateh.mp3" title="">Az-Zumar</a></li>
                                    </ul>
                                </div>
                            </div><!-- Player Wrap -->
                            <div class="plyr-box w-100 pat-bg white-layer opc85 back-blend-multiply bg-white" style="background-image: url(static/images/pattern-bg.jpg);">
                                <div class="plyr v4 w-100">
                                    <ul class="playlist mb-0 list-unstyled">
                                        <li data-cover="static/images/audio-img4.jpg"><a href="static/audio/surah-fateh.mp3" title="">Al-Mursalat</a></li>
                                    </ul>
                                </div>
                            </div><!-- Player Wrap -->
                            <div class="plyr-box w-100 pat-bg white-layer opc85 back-blend-multiply bg-white" style="background-image: url(static/images/pattern-bg.jpg);">
                                <div class="plyr v4 w-100">
                                    <ul class="playlist mb-0 list-unstyled">
                                        <li data-cover="static/images/audio-img5.jpg"><a href="static/audio/surah-fateh.mp3" title="">Al-Baqara</a></li>
                                    </ul>
                                </div>
                            </div><!-- Player Wrap -->
                            <div class="plyr-box w-100 pat-bg white-layer opc85 back-blend-multiply bg-white" style="background-image: url(static/images/pattern-bg.jpg);">
                                <div class="plyr v4 w-100">
                                    <ul class="playlist mb-0 list-unstyled">
                                        <li data-cover="static/images/audio-img6.jpg"><a href="static/audio/surah-fateh.mp3" title="">An-Naba</a></li>
                                    </ul>
                                </div>
                            </div><!-- Player Wrap -->
                            <div class="plyr-box w-100 pat-bg white-layer opc85 back-blend-multiply bg-white" style="background-image: url(static/images/pattern-bg.jpg);">
                                <div class="plyr v4 w-100">
                                    <ul class="playlist mb-0 list-unstyled">
                                        <li data-cover="static/images/audio-img7.jpg"><a href="static/audio/surah-fateh.mp3" title="">Ghafir</a></li>
                                    </ul>
                                </div>
                            </div><!-- Player Wrap -->
                            <div class="plyr-box w-100 pat-bg white-layer opc85 back-blend-multiply bg-white" style="background-image: url(static/images/pattern-bg.jpg);">
                                <div class="plyr v4 w-100">
                                    <ul class="playlist mb-0 list-unstyled">
                                        <li data-cover="static/images/audio-img8.jpg" data-artist="(The Cow) - 286 Verses"><a href="static/audio/surah-fateh.mp3" title="">Al-Baqara</a></li>
                                    </ul>
                                </div>
                            </div><!-- Player Wrap -->
                            <div class="plyr-box w-100 pat-bg white-layer opc85 back-blend-multiply bg-white" style="background-image: url(static/images/pattern-bg.jpg);">
                                <div class="plyr v4 w-100">
                                    <ul class="playlist mb-0 list-unstyled">
                                        <li data-cover="static/images/audio-img9.jpg"><a href="static/audio/surah-fateh.mp3" title="">Az-Zumar</a></li>
                                    </ul>
                                </div>
                            </div><!-- Player Wrap -->
                            <div class="plyr-box w-100 pat-bg white-layer opc85 back-blend-multiply bg-white" style="background-image: url(static/images/pattern-bg.jpg);">
                                <div class="plyr v4 w-100">
                                    <ul class="playlist mb-0 list-unstyled">
                                        <li data-cover="static/images/audio-img10.jpg"><a href="static/audio/surah-fateh.mp3" title="">Al-Mursalat</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- Player Wrap 2 -->
                        <div class="pagination-wrap mt-40 d-flex flex-wrap justify-content-center text-center w-100">
                            <ul class="pagination mb-0">
                                <li class="page-item prev"><a class="page-link" href="javascript:void(0);" title=""><i class="fas fa-long-arrow-alt-left"></i></a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);" title="">1</a></li>
                                <li class="page-item active"><a class="page-link" href="javascript:void(0);" title="">2</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);" title="">3</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);" title="">4</a></li>
                                <li class="page-item pg-rang">...........</li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);" title="">24</a></li>
                                <li class="page-item next"><a class="page-link" href="javascript:void(0);" title=""><i class="fas fa-long-arrow-alt-right"></i></a></li>
                            </ul>
                        </div><!-- Pagination Wrap -->
                    </div>
                </div>
            </section>
            <footer>
              <div class="w-100 pt-100 dark-layer pb-50 opc85 position-relative">
                <div
                  class="fixed-bg patern-bg back-blend-multiply dark-bg"
                  style="background-image: url(static/images/pattern-bg.jpg)"
                ></div>
                <div class="container">
                  <div class="footer-data w-100">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-lg-3">
                        <div class="widget w-100">
                          <div class="logo">
                            <h1 class="mb-0">
                              <a href="index.html" title="Home"
                                ><img
                                  class="img-fluid"
                                  src="static/images/logo2.png"
                                  alt="Logo"
                                  srcset="static/images/retina-logo2.png"
                              /></a>
                            </h1>
                          </div>
                          
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-lg-9">
                        <div class="row justify-content-between">
                          <div class="col-md-6 col-sm-6 col-lg-6">
                            <div class="row">
                              <div class="col-md-6 col-sm-6 col-lg-6">
                                <div class="widget w-100">
                                  <h4 class="widget-title">Information</h4>
                                  <ul class="mb-0 list-unstyled w-100">
                                    <li>
                                      <a title=""
                                        >Online Courses</a
                                      >
                                    </li>
                                    <li>
                                      <a  title=""
                                        >Audio Listening</a
                                      >
                                    </li>
                                    <li><a  title="">Our Blog</a></li>
                                    <li>
                                      <a  title="">Our Events</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="col-md-6 col-sm-6 col-lg-6">
                                <div class="widget w-100">
                                  <h4 class="widget-title">Contact Info</h4>
                                  <ul
                                    class="cont-info-list2 mb-0 list-unstyled w-100"
                                  >
                                    <li><i class="thm-clr">P:</i>+961 ___ ___</li>
                                    <li>
                                      <i class="thm-clr">E:</i
                                      ><a href="javascript:void(0);" title=""
                                        >info@email.com</a
                                      >
                                    </li>
                                    <li>
                                      Kafaat Beirut, Lebanon
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-5 col-sm-6 col-lg-5">
                            <h4 class="widget-title">Let Us Help You</h4>
                            <div class="row">
                              <div class="col-md-6 col-sm-6 col-lg-6">
                                <div class="widget w-100">
                                  <ul class="mb-0 list-unstyled w-100">
                                    <li>
                                      <a title="">About Maktab</a>
                                    </li>
                                    <li>
                                      <a  title=""
                                        >Urgent Donation</a
                                      >
                                    </li>
                                    <li>
                                      <a  title=""
                                        >Our Services</a
                                      >
                                    </li>
                                    <li>
                                      <a  title="">Our Sermons</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="col-md-6 col-sm-6 col-lg-6">
                                <div class="widget w-100">
                                  <ul class="mb-0 list-unstyled w-100">
                                    <li>
                                      <a  title=""
                                        >Our Products</a
                                      >
                                    </li>
                                    <li>
                                      <a  title=""
                                        >Our Scholars</a
                                      >
                                    </li>
                                    <li>
                                      <a  title="">Contact Us</a>
                                    </li>
                                    <li>
                                      <a  title=""
                                        >Maktab Gallery</a
                                      >
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Footer Data -->
                </div>
              </div>
            </footer>
            
        </main><!-- Main Wrapper -->

        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/popper.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/wow.min.js"></script>
        <script src="static/js/counterup.min.js"></script>
        <script src="static/js/jquery.fancybox.min.js"></script>
        <script src="static/js/jquery.bootstrap-touchspin.min.js"></script>
        <script src="static/js/perfect-scrollbar.min.js"></script>
        <script src="static/js/slick.min.js"></script>
        <!-- <script src="static/js/particles.min.js"></script>
        <script src="static/js/particle-int.js"></script> -->
        <script src="static/js/musicplayer-min.js"></script>
        <script src="static/js/custom-scripts.js"></script>
    </body>	
</html>