<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link
      rel="icon"
      href="/images/favicon.png"
      sizes="35x35"
      type="image/png"
    />
    <title>Maktab - The Islamic Center HTML5 Template</title>

    <link rel="stylesheet" href="static/css/all.min.css" />
    <link rel="stylesheet" href="static/css/flaticon.css" />
    <link rel="stylesheet" href="static/css/animate.min.css" />
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/jquery.fancybox.min.css" />
    <link
      rel="stylesheet"
      href="static/css/jquery.bootstrap-touchspin.min.css"
    />
    <link rel="stylesheet" href="static/css/perfect-scrollbar.css" />
    <link rel="stylesheet" href="static/css/slick.css" />
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/responsive.css" />
    <link rel="stylesheet" href="static/css/color.css" />
  </head>
  <body>
    <main>
      <div id="preloader">
        <div class="preloader-inner">
          <i class="preloader-icon thm-clr flaticon-kaaba"></i>
        </div>
      </div>
      <!-- Page Loader -->
      <header class="stick style1 w-100">
        <div
          class="topbar bg-color1 d-flex flex-wrap justify-content-center w-100"
        >
          <ul class="topbar-info-list mb-0 list-unstyled d-inline-flex">
            <li>
              <i class="thm-clr flaticon-sun"></i>Sunrise At:
              <span class="thm-clr">5:05am</span>
            </li>
            <li>
              <i class="thm-clr flaticon-moon"></i>Sunset At:
              <span class="thm-clr">7:14pm</span>
            </li>
          </ul>
          <div class="social-links d-inline-flex">
            <a href="https://twitter.com/" title="Twtiiter" target="_blank"
              ><i class="fab fa-twitter"></i
            ></a>
            <a href="https://www.facebook.com/" title="Facebook" target="_blank"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a href="https://www.youtube.com/" title="Youtube" target="_blank"
              ><i class="fab fa-youtube"></i
            ></a>
            <a href="https://www.linkedin.com/" title="Linkedin" target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <a
              href="https://www.instagram.com/"
              title="Instagram"
              target="_blank"
              ><i class="fab fa-instagram"></i
            ></a>
          </div>
        </div>
        <!-- Topbar -->
        <div
          class="logo-menu-wrap d-flex flex-wrap justify-content-between w-100"
        >
          <div
            class="logo position-relative thm-layer opc7 back-blend-multiply thm-bg"
            style="background-image: url(static/images/pattern-bg.jpg)"
          >
            <h1 class="mb-0">
              <a href="index.html" title="Home"
                ><img
                  class="img-fluid"
                  src="static/images/logo.png"
                  alt="Logo"
                  srcset="static/images/retina-logo.png"
              /></a>
            </h1>
          </div>
          <!-- Logo -->
          <nav
            class="d-flex flex-wrap align-items-center justify-content-center"
          >
            <div class="header-left">
              <ul class="mb-0 list-unstyled d-inline-flex">
                <li class="menu-item-has-children">
                  <a href="./index.html" title="">Home</a>
                </li>
                <li class="menu-item-has-children">
                  <a href="./audio-listening.html" title="">Quran</a>
                </li>
                <li class="menu-item-has-children">
                  <a href="./events.html" title="">Ziyarat</a>
                </li>
                <li class="menu-item-has-children">
                  <a href="./do3a2.html" title="">Doaa</a>
                </li>
                <li class="menu-item-has-children">
                  <a href="./reminder.html" title="">Reminder</a>
                </li>
                
              </ul>
            </div>
            <div class="header-right">
            
          </nav>
        </div>
        <!-- Logo Menu Wrap -->
      </header>
      <!-- Header -->
      <div class="sticky-menu">
        <div class="container">
          <div
            class="sticky-menu-inner d-flex flex-wrap align-items-center justify-content-between w-100"
          >
            <div class="logo">
              <h1 class="mb-0">
                <a href="index.html" title="Home"
                  ><img
                    class="img-fluid"
                    src="static/images/logo3.png"
                    alt="Logo"
                    srcset="static/images/retina-logo3.png"
                /></a>
              </h1>
            </div>
            <!-- Logo -->
            <nav
              class="d-flex flex-wrap align-items-center justify-content-between"
            >
              <div class="header-left">
                <ul class="mb-0 list-unstyled d-inline-flex">
                  <li class="menu-item-has-children">
                    <a href="./index.html" title="">Home</a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="./audio-listening.html" title="">Quran</a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="./events.html" title="">Ziyarat</a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="./do3a2.html" title="">Doaa</a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="./reminder.html" title="">Reminder</a>
                  </li>
                  
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <!-- Sticky Menu -->
      <div class="rspn-hdr">
        <div class="rspn-mdbr">
          <div class="rspn-scil">
            <a href="https://twitter.com/" title="Twtiiter" target="_blank"
              ><i class="fab fa-twitter"></i
            ></a>
            <a href="https://www.facebook.com/" title="Facebook" target="_blank"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a href="https://www.youtube.com/" title="Youtube" target="_blank"
              ><i class="fab fa-youtube"></i
            ></a>
            <a href="https://www.linkedin.com/" title="Linkedin" target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
          <form class="rspn-srch">
            <input type="text" placeholder="Enter Your Keyword" />
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
        <div class="lg-mn">
          <div class="logo">
            <a href="index.html" title="Home"
              ><img src="static/images/logo3.png" alt="Logo"
            /></a>
          </div>
          <div class="rspn-cnt">
            <span
              ><i class="thm-clr far fa-envelope"></i
              ><a href="javascript:void(0);" title=""
                >info@email.com</a
              ></span
            >
            <span
              ><i class="thm-clr fas fa-phone-alt"></i>+961 ___ ___</span
            >
          </div>
          <span class="rspn-mnu-btn"><i class="fa fa-list-ul"></i></span>
        </div>
        <div class="rsnp-mnu">
          <span class="rspn-mnu-cls"><i class="fa fa-times"></i></span>
          <ul class="mb-0 list-unstyled w-100">
            <li class="menu-item-has-children">
              <a href="./index.html" title="">Home</a>
              
            </li>
            <li class="menu-item-has-children">
              <a href="./audio-listening.html" title="">Quran</a>
              
            </li>
            <li class="menu-item-has-children">
              <a href="./events.html" title="">Ziyarat</a>
            
            </li>
            <li class="menu-item-has-children">
              <a href="./do3a2.html" title="">Doaa</a>
            </li>
            <li class="menu-item-has-children">
              <a href="./reminder.html" title="">Reminder</a>
            
            </li>
            
          </ul>
        </div>
        <!-- Responsive Menu -->
      </div>



      <!-- Responsive Header -->
      <section>
        <div class="w-100 position-relative">
          <div class="feat-wrap v1 text-center position-relative w-100">
            <div class="feat-caro">
              <div class="feat-item">
                <div
                  class="feat-img position-absolute"
                  style="
                    background-image: url(static/images/khamne2e.jpg);
                  "
                ></div>
                <div class="feat-cap-wrap position-absolute d-inline-block">
                  <div class="feat-cap d-inline-block">
                    <i class="d-inline-block flaticon-rub-el-hizb thm-clr"></i>
                    <h2 class="mb-0" style="
                    font-size: 2.125rem;
                "> ذكر الله عزّ وجلّ والاستغفار والدعاء لديه آثار إعجازيّة
                                    </h2>
                                    <p class="mb-0" style="
                                    font-size: 2.125rem;
                                    color: rgb(25, 182, 25);
                                ">
                                                      يحيي&nbsp;القلوب&nbsp;الميّتة
                                                    </p>
                    
                  </div>
                </div>
              </div>
              <div class="feat-item">
                <div
                  class="feat-img position-absolute"
                  style="
                    background-image: url(static/images/quran.jpg);
                  "
                ></div>
                <div class="feat-cap-wrap position-absolute d-inline-block">
                  <div class="feat-cap d-inline-block">
                    <i class="d-inline-block flaticon-rub-el-hizb thm-clr"></i>
                    <h2 class="mb-0" style="font-size: 2.75rem;">يا أَيُّهَا الَّذِينَ آمَنُوا اتَّقُوا اللَّهَ وَ ابْتَغُوا إِلَيْهِ الْوَسِيلَةَ وَ جاهِدُوا فِي سَبِيلِهِ لَعَلَّكُمْ تُفْلِحُونَ
                    </h2>
                    <p class="mb-0">
                      سورة المائدة ٣٥
                    </p>
                    
                  </div>
                </div>
              </div>
              <div class="feat-item">
                <div
                  class="feat-img position-absolute"
                  style="
                    background-image: url(static/images/khomayni.jpg);
                  "
                ></div>
                <div class="feat-cap-wrap position-absolute d-inline-block">
                  <div class="feat-cap d-inline-block">
                    <i class="d-inline-block flaticon-rub-el-hizb thm-clr"></i>
                    <h2 class="mb-0" style="
    font-size: 2.75rem;
    padding-bottom: 25px;
">
                      <span style="color:rgb(25, 182, 25);"> لا تخافوا</span> من ايّ احد الّا من الله <br>
                      <span style="color:rgb(25, 182, 25);">ولا تأملوا</span> من احدٍ الّا من الله&nbsp;تبارك&nbsp;&nbsp;تعالى

                    </h2>
                    
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Featured Area Wrap -->
        </div>
      </section>
      <section>
        <div class="w-100 thm-layer opc7 position-relative">
          <div
            class="fixed-bg patern-bg back-blend-multiply thm-bg"
            style="background-image: url(static/images/pattern-bg.jpg)"
          ></div>
          <div class="container">
            <div class="plyr-cont-wrap w-100">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-4">
                  <div class="plyr-wrp overlap155 w-100">
                    <h3
                      class="mb-0 text-center pat-bg thm-layer opc7 back-blend-multiply thm-bg"
                      style="
                        background-image: url(static/images/pattern-bg.jpg);
                      "
                    >
                      Listen to Quran Audio
                    </h3>
                    <div class="plyr-inner w-100">
                      <div class="plyr w-100">
                        <ul class="playlist mb-0 list-unstyled">
                          <li
                            data-cover="static/images/audio-cover.jpg"
                            data-artist="(Abd-ur Rahman)"
                          >
                            <a href="static/audio/surah-fateh.mp3" title=""
                              >Surah Fath</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-8">
                  <div class="cont-info w-100">
                    <ul
                      class="cont-info-list d-flex flex-wrap mb-0 list-unstyled w-100"
                    >
                      <li>
                        <span class="thm-bg"
                          ><i class="fas fa-phone-alt"></i></span
                        >+961 ___ ___ 
                      </li>
                      <li>
                        <span class="thm-bg"
                          ><i class="far fa-envelope"></i></span
                        ><a href="javascript:void(0);" title=""
                          >info@email.com</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- Player & Contact Wrap -->
          </div>
        </div>
      </section>
      <section>
        <div class="w-100 pt-90 gray-layer opc85 position-relative">
          <div
            class="fixed-bg patern-bg back-blend-multiply gray-bg"
            style="background-image: url(static/images/pattern-bg.jpg)"
          ></div>

          <div class="compass">
            <div class="needle"></div>
        </div>
          <div class="container">
            <div class="sec-title text-center w-100">
              <div class="sec-title-inner d-inline-block">
                <i class="thm-clr flaticon-rub-el-hizb"></i>
                <h2 class="mb-0">Don't Miss Special Books</h2>
                
              </div>
            </div>
            <!-- Sec Title -->
            <div class="prod-wrap overlap-150 prod-caro w-100">
              <div class="prod-box d-block w-100">
                <div class="row mrg">
                  <div class="col-md-6 col-sm-12 col-lg-6">
                    <div
                      class="prod-img overflow-hidden position-relative w-100"
                    >
                      <a  title=""
                        ><img
                          class="img-fluid w-100"
                          src="static/images/nahj-bala8a.jpg"
                          alt="Product Image 1"
                      /></a>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12 col-lg-6">
                    <div class="prod-info w-100">
                      <span
                        class="price pat-bg thm-layer opc7 back-blend-multiply thm-bg position-absolute"
                        style="
                          background-image: url(static/images/pattern-bg.jpg);
                        "
                        >$7.99</span
                      >
                      
                      <h3 class="mb-0">
                        <a  title=""
                          >Nahj Al- Balagha</a
                        >
                      </h3>
                      <div class="rate-wrap d-block">
                        <span class="rate thm-clr"
                          ><i class="fas fa-star"></i><i class="fas fa-star"></i
                          ><i class="fas fa-star"></i><i class="fas fa-star"></i
                          ><i class="far fa-star"></i
                        ></span>
                        <i>1,862 Ratings</i>
                      </div>
                      <p class="mb-0">
                        Nahjul Balagha is the collections of Imam Ali`s sermons and letters.
                      </p>
                      <div class="qty-wrap">
                        <input class="qty" type="text" value="50" />
                      </div>
                      <a  title="">Order Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="prod-box d-block w-100">
                <div class="row mrg">
                  <div class="col-md-6 col-sm-12 col-lg-6">
                    <div
                      class="prod-img overflow-hidden position-relative w-100"
                    >
                      <a  title=""
                        ><img
                          class="img-fluid w-100"
                          src="static/images/tatbe3.jpg"
                          alt="Product Image 1"
                      /></a>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12 col-lg-6">
                    <div class="prod-info w-100">
                      <span
                        class="price pat-bg thm-layer opc7 back-blend-multiply thm-bg position-absolute"
                        style="
                          background-image: url(static/images/pattern-bg.jpg);
                        "
                        >$7.99</span
                      >
                      
                      <h3 class="mb-0">
                        <a  title=""
                          >ثقافة التطبيع والحرب الناعمة</a
                        >
                      </h3>
                      <div class="rate-wrap d-block">
                        <span class="rate thm-clr"
                          ><i class="fas fa-star"></i><i class="fas fa-star"></i
                          ><i class="fas fa-star"></i><i class="fas fa-star"></i
                          ><i class="far fa-star"></i
                        ></span>
                        <i>1,862 Ratings</i>
                      </div>
                      <p class="mb-0">
                        إن جوهر التطبيع هو كسرُ حاجزِ العداءِ مع الكيان الصّهيوني بهدف جعل الاستيطان في فلسطين أمراً طبيعياً او مقبولاً أو عادياً؛
                      </p>
                      <div class="qty-wrap">
                        <input class="qty" type="text" value="50" />
                      </div>
                      <a  title="">Order Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="prod-box d-block w-100">
                <div class="row mrg">
                  <div class="col-md-6 col-sm-12 col-lg-6">
                    <div
                      class="prod-img overflow-hidden position-relative w-100"
                    >
                      <a href="product-detail.html" title=""
                        ><img
                          class="img-fluid w-100"
                          src="static/images/hijab.jpg"
                          alt="Product Image 2"
                      /></a>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12 col-lg-6">
                    <div class="prod-info w-100">
                      <span
                        class="price pat-bg thm-layer opc7 back-blend-multiply thm-bg position-absolute"
                        style="
                          background-image: url(static/images/pattern-bg.jpg);
                        "
                        >$5.99</span
                      >
                     
                      <h3 class="mb-0">
                        <a href="product-detail.html" title=""
                          >الحرب على الحجاب</a
                        >
                      </h3>
                      <div class="rate-wrap d-block">
                        <span class="rate thm-clr"
                          ><i class="fas fa-star"></i><i class="fas fa-star"></i
                          ><i class="fas fa-star"></i><i class="far fa-star"></i
                          ><i class="far fa-star"></i
                        ></span>
                        <i>1,862 Ratings</i>
                      </div>
                      <p class="mb-0">
                        لقد لحظ الدِّين الإسلاميّ في تشريعاته قضيَّة المرأة وحماها من الظلم الذي تعرّضت له عبر التاريخ...
                      </p>
                      <div class="qty-wrap">
                        <input class="qty" type="text" value="50" />
                      </div>
                      <a href="product-detail.html" title="">Order Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Products Wrap -->
          </div>
        </div>
      </section>
      <section>
        <div class="w-100 pt-220 pb-80 position-relative">
          <img
            class="img-fluid sec-top-mckp position-absolute"
            src="static/images/sec-top-mckp.png"
            alt="Sec Top Mockup"
          />
          <div class="container">
            <div class="about-wrap text-center position-relative w-100">
              <div class="about-inner d-inline-block">
                <img
                  class="img-fluid"
                  src="static/images/bism-img1.png"
                  alt="Bismillah Image"
                />
                <h2 class="mb-0">Welcome To The Islam Home</h2>
                <br>
                <br>
                
                <a class="thm-btn thm-bg" href="./reminder.html" title=""
                  >Check Reminder<span></span><span></span><span></span><span></span
                ></a>
              </div>
            </div>
            <!-- About Wrap -->
          </div>
        </div>
      </section>
     
      <section>
        <div class="w-100 position-relative">
          <div class="time-course-wrap w-100">
            <div class="row mrg">
              <div class="col-md-12 col-sm-12 col-lg-6">
                <div
                  class="time-wrap d-flex flex-wrap align-items-center justify-content-end thm-layer opc95 position-relative w-100"
                >
                  <div
                    class="fixed-bg"
                    style="background-image: url(static/images/ka3ba.kpg.jpg)"
                  ></div>
                  <div class="time-inner w-100">
                    <div class="sec-title w-100">
                      <div class="sec-title-inner d-inline-block">
                        <h2 class="mb-0">Go to Allah Before its to Late</h2>
                        <p class="mb-0">
                          Islamic:, 9 Shawwal 1441 AH - Monday, June 1, 2024
                        </p>
                      </div>
                    </div>
                    <!-- Sec Title -->
                    <div class="time-list-wrap d-flex flex-wrap w-100">
                      <ul class="time-list mb-0 list-unstyled">
                        <li>
                          <div
                            class="time-box d-flex flex-wrap align-items-center justify-content-between"
                          >
                            <span
                              ><i class="flaticon-rub-el-hizb"></i>Fajar</span
                            >
                            <span>04:06 am</span>
                          </div>
                        </li>
                        <li>
                          <div
                            class="time-box d-flex flex-wrap align-items-center justify-content-between"
                          >
                            <span
                              ><i class="flaticon-rub-el-hizb"></i>Sunrise</span
                            >
                            <span>05:30 am</span>
                          </div>
                        </li>
                        <li>
                          <div
                            class="time-box d-flex flex-wrap align-items-center justify-content-between"
                          >
                            <span
                              ><i class="flaticon-rub-el-hizb"></i>Dhuhr</span
                            >
                            <span>12:23 pm</span>
                          </div>
                        </li>
                      </ul>
                      <ul class="time-list mb-0 list-unstyled">
                        <li>
                          <div
                            class="time-box d-flex flex-wrap align-items-center justify-content-between"
                          >
                            <span><i class="flaticon-rub-el-hizb"></i>Asr</span>
                            <span>03:43 pm</span>
                          </div>
                        </li>
                        <li>
                          <div
                            class="time-box d-flex flex-wrap align-items-center justify-content-between"
                          >
                            <span
                              ><i class="flaticon-rub-el-hizb"></i>Maghrib</span
                            >
                            <span>07:10 pm</span>
                          </div>
                        </li>
                        <li>
                          <div
                            class="time-box d-flex flex-wrap align-items-center justify-content-between"
                          >
                            <span
                              ><i class="flaticon-rub-el-hizb"></i>Isha'a</span
                            >
                            <span>08:35 pm</span>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Time Wrap -->
              </div>
              <div class="col-md-12 col-sm-12 col-lg-6">
                <div
                  class="course-wrap d-flex flex-wrap align-items-center black-layer opc7 position-relative w-100"
                >
                  <div
                    class="fixed-bg"
                    style="background-image: url(static/images/khamena2e.jpg)"
                  ></div>
                  <div class="course-inner w-100">
                    <div class="sec-title w-100">
                      <div class="sec-title-inner d-inline-block">
                        <h2 class="mb-0">Islamic School Courses</h2>
                        <p class="mb-0">
                          Adipiscing elit duis volutpat ligula nulla dapibus.
                        </p>
                      </div>
                    </div>
                    <!-- Sec Title -->
                    <div class="course-list-wrap w-100">
                      <h3 class="mb-0 thm-clr">Weekly Programs</h3>
                      <ul class="course-list mb-0 list-unstyled w-100">
                        <li>
                          <div class="course-box d-flex flex-wrap w-100">
                            <i class="flaticon-rub-el-hizb thm-clr"></i>
                            <div class="course-inner">
                              <h4 class="mb-0">
                                <a  title=""
                                  >Tafseel ul Quran</a
                                >
                              </h4>
                              <p class="mb-0">
                                Every Tuesday & Wednesday 8:00 am to 12:00 pm
                              </p>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="course-box d-flex flex-wrap w-100">
                            <i class="flaticon-rub-el-hizb thm-clr"></i>
                            <div class="course-inner">
                              <h4 class="mb-0">
                                <a  title=""
                                  >Children's Islamic Classes</a
                                >
                              </h4>
                              <p class="mb-0">Daily from 8:00 am to 1:00 pm</p>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="course-box d-flex flex-wrap w-100">
                            <i class="flaticon-rub-el-hizb thm-clr"></i>
                            <div class="course-inner">
                              <h4 class="mb-0">
                                <a  title=""
                                  >Quran Recitation Class</a
                                >
                              </h4>
                              <p class="mb-0">
                                Every Monday & Thursday 9:00 am to 11:30 pm
                              </p>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Courses Wrap -->
              </div>
            </div>
          </div>
          <!-- Time & Course Wrap -->
        </div>
      </section>
      
      <section>
        <div class="w-100 pt-90 pb-80 position-relative">
          <img
            class="img-fluid sec-top-mckp position-absolute"
            src="static/images/sec-top-mckp2.png"
            alt="Sec Top Mockup 2"
          />
          <div class="container">
            <div class="sec-title text-center w-100">
              <div class="sec-title-inner d-inline-block">
                <i class="thm-clr flaticon-rub-el-hizb"></i>
                <h2 class="mb-0">Up-Coming Events</h2>
                
              </div>
            </div>
            <!-- Sec Title -->
            <div class="event-wrap res-row w-100">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-4">
                  <div class="event-box w-100">
                    <div
                      class="event-img overflow-hidden position-relative w-100"
                    >
                      <a  title=""
                        ><img
                          class="img-fluid w-100"
                          src="static/images/chaaban.jpg"
                          alt="Event Image 2"
                      /></a>
                    </div>
                    <div
                      class="event-info pat-bg gray-layer opc85 position-relative back-blend-multiply gray-bg w-100"
                      style="
                        background-image: url(static/images/pattern-bg.jpg);
                      "
                    >
                      
                      
                      <h3 class="mb-0">
                        <a  title=""
                          >The 15th of Sha’ban - A Night for Forgiveness</a
                        >
                      </h3>
                      <span class="event-time d-block thm-clr"
                        >25 February 2024</span
                      >
                      
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-4">
                  <div class="event-box w-100">
                    <div
                      class="event-img overflow-hidden position-relative w-100"
                    >
                      <a title=""
                        ><img
                          class="img-fluid w-100"
                          src="static/images/ramadan.jpg"
                          alt="Event Image 1"
                      /></a>
                    </div>
                    <div
                      class="event-info pat-bg gray-layer opc85 position-relative back-blend-multiply gray-bg w-100"
                      style="
                        background-image: url(static/images/pattern-bg.jpg);
                      "
                    >
                     
                      <h3 class="mb-0">
                        <a  title=""
                          >Ramadan, A Month Of Blessing</a
                        >
                      </h3>
                      <span class="event-time d-block thm-clr"
                        >10 March 2024</span
                      >
                      
                    </div>
                  </div>
                </div>
                
                <div class="col-md-6 col-sm-6 col-lg-4">
                  <div class="event-box w-100">
                    <div
                      class="event-img overflow-hidden position-relative w-100"
                    >
                      <a  title=""
                        ><img
                          class="img-fluid w-100"
                          src="static/images/adha.jpg"
                          alt="Event Image 3"
                      /></a>
                    </div>
                    <div
                      class="event-info pat-bg gray-layer opc85 position-relative back-blend-multiply gray-bg w-100"
                      style="
                        background-image: url(static/images/pattern-bg.jpg);
                      "
                    >
                      
                      <h3 class="mb-0">
                        <a  title=""
                          >Eid-ul-Adha, Feast o Scrifice</a
                        >
                      </h3>
                      <span class="event-time d-block thm-clr"
                        >810 April 2024</span
                      >
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Events Wrap -->
          </div>
        </div>
      </section>
      <section>
        <div class="w-100 pt-110 black-layer pb-70 opc7 position-relative">
          <div
            class="fixed-bg"
            style="background-image: url(static/images/ka3ba.kpg.jpg)"
          ></div>
          <div class="container">
            <div class="sec-title v2 text-center w-100">
              <div class="sec-title-inner d-inline-block">
                <i class="flaticon-rub-el-hizb thm-clr"></i>
                <h1 class="mb-0">أصول الدين الخمسة</h1>
                
              </div>
            </div>
            <!-- Sec Title -->
            <div class="pillars-wrap w-100">
              <ul
                class="pillars-list text-center d-flex flex-wrap justify-content-center align-items-center mb-0 list-unstyled"
              >
                <li>
                  <div class="pillar-box position-relative w-100">
                    <span class="d-inline-block thm-clr position-relative"
                      ><span
                        class="pat-bg gray-layer opc85 position-absolute back-blend-multiply gray-bg"
                        style="
                          background-image: url(static/images/pattern-bg.jpg);
                        "
                      ></span
                      ><i class="flaticon-quran-1"></i
                    ></span>
                    <h3 class="mb-0">النبوة</h3>
                    
              
                  </div>
                </li>
                <li>
                  <div class="pillar-box position-relative w-100">
                    <span class="d-inline-block thm-clr position-relative"
                      ><span
                        class="pat-bg gray-layer opc85 position-absolute back-blend-multiply gray-bg"
                        style="
                          background-image: url(static/images/pattern-bg.jpg);
                        "
                      ></span
                      ><i class="flaticon-mosque-1"></i
                    ></span>
                    <h3 class="mb-0">الامامة</h3>
                    
                    
                  </div>
                </li>
                <li>
                  <div class="pillar-box position-relative w-100">
                    <span class="d-inline-block thm-clr position-relative"
                      ><span
                        class="pat-bg gray-layer opc85 position-absolute back-blend-multiply gray-bg"
                        style="
                          background-image: url(static/images/pattern-bg.jpg);
                        "
                      ></span
                      ><i class="flaticon-star"></i
                    ></span>
                    <h3 class="mb-0">المعاد</h3>
                    
                  </div>
                </li>
                <li>
                  <div class="pillar-box position-relative w-100">
                    <span class="d-inline-block thm-clr position-relative"
                      ><span
                        class="pat-bg gray-layer opc85 position-absolute back-blend-multiply gray-bg"
                        style="
                          background-image: url(static/images/pattern-bg.jpg);
                        "
                      ></span
                      ><i class="flaticon-gift-box"></i
                    ></span>
                    <h3 class="mb-0">العدل</h3>
                    
                  </div>
                </li>
                <li>
                  <div class="pillar-box position-relative w-100">
                    <span class="d-inline-block thm-clr position-relative"
                      ><span
                        class="pat-bg gray-layer opc85 position-absolute back-blend-multiply gray-bg"
                        style="
                          background-image: url(static/images/pattern-bg.jpg);
                        "
                      ></span
                      ><i class="flaticon-kaaba"></i
                    ></span>
                    <h3 class="mb-0">التوحيد</h3>
                    
                    
                  </div>
                </li>
              </ul>
            </div>
            <!-- Pillars Wrap -->
          </div>
        </div>
      </section>
     
      <footer>
        <div class="w-100 pt-100 dark-layer pb-50 opc85 position-relative">
          <div
            class="fixed-bg patern-bg back-blend-multiply dark-bg"
            style="background-image: url(static/images/pattern-bg.jpg)"
          ></div>
          <div class="container">
            <div class="footer-data w-100">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-3">
                  <div class="widget w-100">
                    <div class="logo">
                      <h1 class="mb-0">
                        <a href="index.html" title="Home"
                          ><img
                            class="img-fluid"
                            src="static/images/logo2.png"
                            alt="Logo"
                            srcset="static/images/retina-logo2.png"
                        /></a>
                      </h1>
                    </div>
                    
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-9">
                  <div class="row justify-content-between">
                    <div class="col-md-6 col-sm-6 col-lg-6">
                      <div class="row">
                        <div class="col-md-6 col-sm-6 col-lg-6">
                          <div class="widget w-100">
                            <h4 class="widget-title">Information</h4>
                            <ul class="mb-0 list-unstyled w-100">
                              <li>
                                <a title=""
                                  >Online Courses</a
                                >
                              </li>
                              <li>
                                <a  title=""
                                  >Audio Listening</a
                                >
                              </li>
                              <li><a  title="">Our Blog</a></li>
                              <li>
                                <a  title="">Our Events</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6">
                          <div class="widget w-100">
                            <h4 class="widget-title">Contact Info</h4>
                            <ul
                              class="cont-info-list2 mb-0 list-unstyled w-100"
                            >
                              <li><i class="thm-clr">P:</i>+961 ___ ___</li>
                              <li>
                                <i class="thm-clr">E:</i
                                ><a href="javascript:void(0);" title=""
                                  >info@email.com</a
                                >
                              </li>
                              <li>
                                Kafaat Beirut, Lebanon
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-lg-5">
                      <h4 class="widget-title">Let Us Help You</h4>
                      <div class="row">
                        <div class="col-md-6 col-sm-6 col-lg-6">
                          <div class="widget w-100">
                            <ul class="mb-0 list-unstyled w-100">
                              <li>
                                <a title="">About Maktab</a>
                              </li>
                              <li>
                                <a  title=""
                                  >Urgent Donation</a
                                >
                              </li>
                              <li>
                                <a  title=""
                                  >Our Services</a
                                >
                              </li>
                              <li>
                                <a  title="">Our Sermons</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6">
                          <div class="widget w-100">
                            <ul class="mb-0 list-unstyled w-100">
                              <li>
                                <a  title=""
                                  >Our Products</a
                                >
                              </li>
                              <li>
                                <a  title=""
                                  >Our Scholars</a
                                >
                              </li>
                              <li>
                                <a  title="">Contact Us</a>
                              </li>
                              <li>
                                <a  title=""
                                  >Maktab Gallery</a
                                >
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Footer Data -->
          </div>
        </div>
      </footer>
      <!-- Footer -->
      
      <!-- Bottom Bar -->
    </main>
    <!-- Main Wrapper -->

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/wow.min.js"></script>
    <script src="static/js/counterup.min.js"></script>
    <script src="static/js/jquery.fancybox.min.js"></script>
    <script src="static/js/jquery.bootstrap-touchspin.min.js"></script>
    <script src="static/js/perfect-scrollbar.min.js"></script>
    <script src="static/js/slick.min.js"></script>
    <!-- <script src="static/js/particles.min.js"></script>
        <script src="static/js/particle-int.js"></script> -->
    <script src="static/js/musicplayer-min.js"></script>
    <script src="static/js/custom-scripts.js"></script>
    <script src="./static/js/custom-scripts.js"></script>
  </body>
</html>
